#about{
	background: linear-gradient(#060c18, #051429); 
}
#home{
	background-image: url(/Images/Stars-min.jpg);
}
#games{
	background-image: url(/Images/Arcade-min.jpg);
}
#websites{
	background-image: url(/Images/Temp-min.jpeg);
}
#ai{
	background-image: url(/Images/Robot.jpg);
}