.popup-background {
	display: none;
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(150, 100, 100, 0.50);
}

.popup-box {
	width: 50%;
	height: 75vh;
	transform: translate3D(50%,15%,0);
	background-color: aliceblue;
}

.popup-exit {
	margin: 1vw;
	float: right;
	background-color: rgba(255, 0, 0, 0.75);
	width: 3vw;
	height: 3vw;
}

.popup-link {
	font-size: 2rem;
	float: right;
	padding-right: 1rem;
	text-decoration: none;
	color: black;
}

.popup-link-github {
	font-size: 2rem;
	float: right;
	padding-right: 1rem;
	text-decoration: none;
	color: black;
}

.popup-title {
	margin: 2vw;
	padding: 1%;
	text-align: center;
}

.popup-description {
	padding: 1%;
	border: 1px solid rgba(100,100,100,0.2);
	border-radius: 1px;
	margin: 2vw;
	height: 50vh;
	text-align: center;
}

/*Small screens*/
@media only screen and (max-width: 700px){
	.popup-box {
		width: 75%;
		height: 75vh;
		transform: translate3D(12.5vw,12.5vh,0);
	}		
}