*{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.nav-bar{
	background-color: black;
	padding: 1%;
	height: auto;
	position: fixed;
	font-family: 'Open Sans', sans-serif;
}
.nav-bar a{
	padding-left: 1rem;
	padding-right: 1rem;
	width: auto;
	color: whitesmoke;
	text-shadow: 2px 2px black; 
	text-decoration: none;
	font-size: 2.5rem;
	display: inline-block;
}

.work{
	height: auto;
}
.work img{
	margin: 2%;
	display: inline-block;
	width: 45%;
	height: 50%;
	border: 2px solid black;
}

.landing-page{
	width:inherit;
	height: inherit;
	background-origin: inherit;
	background-size: cover;
	display: table;
	background-attachment: fixed;
}

.title{
	width: inherit;
	height: auto;
	display:table-cell;
	padding-top: 10%;
	vertical-align: middle;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 5rem;
	color: whitesmoke;
	text-shadow: 2px 2px black; 
}

#footer{
	font-size: 1rem;
	height: auto;
	background-color: black;
	text-align: center;
	color: whitesmoke;
	text-shadow: 2px 2px black;
	font-family: 'Open Sans', sans-serif;
}

#about{
	padding-top: 15%;
	padding-bottom: 15%;
	height: auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5rem;
	color: whitesmoke;
	text-shadow: 2px 2px black;
	background: linear-gradient(#060c18, #051429); 
}

#home{
	background-image: url(/Images/Stars-min.jpg);
}

#games{
	background-image: url(/Images/Arcade-min.jpg);
}

#websites{
	background-image: url(/Images/Temp-min.jpeg);
}

#miscellaneous{
	background-image: url(/Images/Sink-min.jpg);
}

#apps{
	background-image: url(/Images/Phone-min.jpeg);
}

#games-work{
	background: linear-gradient(#010d1d, #afbfe0); 
}

#websites-work{
	background: linear-gradient(#d3d2ce, #eaeef7); 
}

#apps-work{
	background: linear-gradient(#eff2fb, #819977); 
}

#miscellaneous-work{
	background: linear-gradient(#1b300f, black); 
}

/*Small screens*/
@media only screen and (max-width: 700px){
	.work img{
	margin: 2%;
	display: inline-block;
	width: 96%;
	height: 50%;
	border: 2px solid red;
}

}
/*large screens*/
@media only screen and (min-width: 1400px){
	.work img{
	margin: 2%;
	display: inline-block;
	width: 20.6%;
	height: 50%;
	border: 2px solid black;
}
